

.header-products{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 50px;
}


.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}