.vendas-content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-form {
  display: flex;
  flex-direction: column;
    gap: 20px;
}
header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
